

*{
  margin: 0;
  padding: 0;
}


body {
  height: px;
  width: px;
}
.nav {
  height: 50px;
  width: 100%;
  background-color: red;
}

.bodysection {
 
  height: 500px;
  width: 100%;
  background-color: yellow;
  padding: 5px;
}

.first {
 
  height: 100px;
  width: 100%;
  background-color:  blue;
}
.second {
 
  height: 100%;
  width: 100%;
  background-color: rgb(178,178,178);
  padding: 5px;
}

.boxa {
 


}

/*
.box1, .box2, .box3, .box4, .box5,
.box6, .box7, .box8, .box9, .box10,
.box11, .box12, .box13, .box14, .box15,
.box16, .box17, .box18, .box19, .box20,
.box21, .box22, .box23, .box24, .box25,
.box26, .box27, .box28, .box29 {
  
  height: 100px;
  width:  100px;
  background-color: green;
  margin: 10px;
}*/
#box1 {
 background-color: red;
  
}
#box3{
  background-color: rgb(252,33,170);
}
.box {
  
  height: 51px;
  width:  51px;
  background-color: rgb(188,248,184);
  margin: 2px;
  
  border: 5px solid rgb(30,118,34);
  border-radius: 20px;
float:  right;
  
}



 .allboxeee {
   
   width: px;
  
   margin: 5px ;
   border: 1px solid red;
 }
